<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>

        <main class="container my-5"  layout:fragment="main">
            <h1 class="display-1">Formulario de Tareas</h1>
            <p th:if="${success != null}" th:text="${success}" style="color: green;"><span></span></p>
            <p th:if="${error != null}" th:text="${error}" style="color: red;"><span></span></p>
            <form th:action="@{/tarea/save}" method="POST" class="row g-3" th:object="${tarea}">
                <input hidden th:field="*{id}"/>
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Tarea</label>
                <input type="text" th:field="${tarea.contenido}" class="form-control" placeholder="ingrese un texto aqui">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>
        </form>
        </main>
        
        
    </body>
</html>
